In [2]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv(r"E:\BHARAT.DATA\padhai\carrier\work\dataset\iris\iris.data")
dataset.head(3)

   5.0  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [ ]:
dataset.isnull().sum()

np.int64(5)

In [ ]:
# handle missing values on different different types of data
# on numericals == fill with mean or median 
#on categorical data == fill with  mode(most frequent value)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.0          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          146 non-null    float64
 3   0.2          147 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [ ]:
# it provide all the columns  that having float 64 datatypes
dataset.select_dtypes(include='float64').columns

Index(['5.0', '3.5', '1.4', '0.2'], dtype='object')

In [ ]:
#handle missing vlaues  using sklearn

In [13]:
#This line imports the SimpleImputer class from the sklearn.
# impute module — part of Scikit-learn,
# a popular machine learning library in Python
from sklearn.impute import SimpleImputer

#SimpleImputer is used to automatically fill
#  in (impute) missing values in your dataset.

In [17]:
#fill the missing values
si = SimpleImputer(strategy="mean")
ar = si.fit_transform(dataset[['5.0', '3.5', '1.4', '0.2']])

In [18]:
pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

     5.0  3.5       1.4       0.2
0    4.9  3.0  1.400000  0.200000
1    4.7  3.2  1.300000  0.200000
2    4.6  3.1  1.500000  0.200000
3    5.0  3.6  1.400000  0.200000
4    5.4  3.9  1.700000  0.400000
..   ...  ...       ...       ...
144  6.7  3.0  5.200000  2.300000
145  6.3  2.5  3.747945  1.900000
146  6.5  3.0  5.200000  1.195918
147  6.2  3.4  3.747945  2.300000
148  5.9  3.0  5.100000  1.800000

[149 rows x 4 columns]